# Python-related
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Build-related
dist/
build/
*.spec

# Kivy-related
*.kivycache/
*.kv~

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/

